@model DuAnCaNhanPhatTrienUDW_WebBanPhuKienMayTinh_63134331.Models.HOADON

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Bạn có chắc muốn xóa hóa đơn này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày đặt
        </dt>

        <dd>
            <script>
                    var dateString = '@Model.NDAT.ToString("dd/MM/yyyy")';
                    var parts = dateString.split(' ');
                    var formattedDate = parts[0];
                    document.write(formattedDate);
            </script>
        </dd>


        <dt>
            Tình trạng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTRANG)
        </dd>

        <dt>
            Họ tên người nhận
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTENNN)
        </dd>

        <dt>
            Số điện thoại người nhận
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDTNN)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHINN)
        </dd>

        <dt>
            Họ tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.HOTENKH)
        </dd>

        <dt>
            Nhân viên chịu trách nhiệm xử lý
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHANVIEN.HOTENNV)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-primary" /> |
            @Html.ActionLink("Trở lại", "Index")
        </div>
    }
</div>
